<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="root">
        <div class="root_lines">
            <div class="root_line">
                <div class="root_subline">
                    发言人
                    <label>
                        <select>
                            <option value ="me">我</option>
                        </select>
                    </label>
                </div>
                <div class="root_subline">
                    文字
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<style>
    div {
        border: 1px #080305 solid;
    }

    select {
        width: 100px
    }

    #root {

    }

    .root_lines {
        width: 480px;
    }

    .root_line{
        height: 80px;
    }


</style>
